<style>
  body{
    background: url(WelcomeIndex.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
  h1{
    font-size: 50px;
  }
  

  .indexBackground{
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
    height: 50%
    width: 100%;
  }
</style>
<body>

  <div class="indexBackground">
    <h1 style="color: white;">SWIFTLET TIKCET RESERVATION</h1>
    <h2><%=link_to 'LISTS', movies_path%></h2>
  </div>




</body>
